body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top: 80px ;
    margin-bottom: 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    color:  #66BFBF;

}
.top{
   
    background-color: #EAF6F6;
    padding-top: 100px;
    
}
.top-paragraph{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color:  #66BFBF;
    
}
.top-cloud{
    position: absolute;
    right: 300px;

}
.bottom-cloud{
    position: absolute;
    left: 300px;

}
.boy{
    width: 150px;
    margin-top: 50px;
}
.webdev{
    height: 150px;
    width: 150px;
    float: left;
}
.java{
    height: 150px;
    width: 150px;
    float: right;
}

.mypic{
    border-radius: 300px;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
p{
    font-family: 'Pacifico', cursive;
    line-height: 2;
}
h2{
   color: #66BFBF;
}
h3{
    color: #11999E;
}
a{
    color: #11999E;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding: 30px;
}
btn {
    background: #08a2a8;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
    margin-top: 50px;
    background-color: #66BFBF;
    height: 100px;
  }

hr{
    border-style: dotted;
    border-color: darkgrey;
    border-width: 6px;
    border-bottom: none;
    width: 6%;
}
.intro{
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
}
.copyright{
    padding-top: 20px;
    font-size: 5px;
    
}